.choice-main {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid coral;
    background-color: white;
}

.choice-main:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 14px 0 coral;
    transform: translateY(-0.1rem);
    transition: transform 150rem;
}

.choice-prefix {
   padding: 1.5rem 2.5rem;
   background-color:black;
   color: white;

}

.choice-text {
    padding: 1.5rem;
}